---
import Board from "../../components/Board.astro";
import Layout from "../../layouts/Layout.astro";
let cata = "sen";
---

<Layout>
  <form
    class="relative bg-gray-400 flex flex-col h-svh"
    action="/secondhalf/q1"
  >
    <Board question=`อยากเปิดเพลงประเภทไหน`>
      {
        cata == "sen" && (
          <>
            <button>A. เพลงร็อค</button>
            <button>B. เพลงชิวฟังสบาย</button>
            <button>C. เพลงคลาสสิก</button>
          </>
        )
      }
      {
        cata == "har" && (
          <>
            <button>A. choice Harmony 1</button>
            <button>B. choice Harmony 2</button>
            <button>C. choice Harmony 3</button>
          </>
        )
      }
      {
        cata == "cha" && (
          <>
            <button>A. choice Charity 1</button>
            <button>B. choice Charity 2</button>
            <button>C. choice Charity 3</button>
          </>
        )
      }
    </Board>
  </form>
</Layout>
