---
import Navbar from "@/components/Navbar.astro";
import TicketBack from "../../../components/Ticket/ticket-back";
import Layout from "../../../layouts/Layout.astro";

const { user_id } = Astro.params;
---

<Layout>
  <TicketBack user_id={user_id} client:load />
  <nav class="fixed top-0 ml-1 w-auto z-30">
    <Navbar />
  </nav>
</Layout>
