---
import Layout from "../layouts/Layout.astro";
import '@/styles/globals.css'
// import { Carousel } from "../components/Carousel.tsx";
---

<Layout title="Home | VidLoveVidYou 2025">
  <main
    class="min-h-screen bg-gradient-to-t from-[#FAF0E0] via-[#FFD4D4] to-[#DCDFF0] justify-between max-w-md mx-auto relative shadow"
  >
    <div
      class="w-full h-auto text-black font-Yeseva flex flex-col items-center"
    >
      <!-- Web Application Name -->
      <div class="relative w-full h-[226.5px]">
        <h1 class="text-[40px] absolute mt-[107px] ml-[35px]">Vid Love</h1>
        <h1 class="text-[40px] absolute mt-[150px] ml-[99px]">Vid You</h1>
        <div
          class="border-black border-l-4 h-[64px] absolute mt-[93px] ml-[209px]"
        >
        </div>
        <h2 class="text-[20px] absolute mt-[93px] ml-[219px]">14 FEB 2025</h2>
        <h3 class="text-[16px] absolute mt-[116px] ml-[219px] w-36">
          You're all invited
        </h3>
        <h3 class="text-[16px] absolute mt-[134.5px] ml-[219px] w-36">
          at Larnchak
        </h3>
        <h3 class="text-[16px] absolute mt-[153px] ml-[263px]">& Larngear</h3>
      </div>
      <!-- Slider -->
      <div class="relative w-full h-[268.1px] py-[26.5px]">
        <!-- <Carousel /> -->
      </div>
    </div>
  </main>
</Layout>
