---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
import Navbar from "@/components/Navbar.astro";
import { Home } from "@/components/home/Home";
---

<Layout title="Home | VidLoveVidU 2025">
  <!-- main content -->
  <main class="min-h-screen bg-home bg-cover">
    <Home client:load />
  </main>
  <!-- Navbar -->
  <nav class="fixed top-0 ml-1 w-auto z-30">
    <Navbar />
  </nav>
</Layout>
