---
import Image from "astro/components/Image.astro";
import { CarouselForSponsors } from "@/components/home/Carousel";
---

<div class="flex bg-sponsor w-full h-auto pt-10 pb-28 justify-center items-center">
    <CarouselForSponsors client:load />
</div>