---

---

<div class="">
  <div class="w-auto h-auto flex gap-2">
    <h1 class="relative text-[40px] mt-2 font-Amoresa">Vid Love</h1>
    <div class="border-black border-l-2 mt-4 h-[72px]"></div>
    <div class="leading-none mt-1 font-Ovo">
      <h2 class="text-[20px]">14 FEB 2025</h2>
      <h3 class="text-[16px]">You're all invited</h3>
      <h3 class="text-[16px]">at Larnchak</h3>
      <h3 class="text-[16px] text-end">& Larn Intania</h3>
    </div>
  </div>
  <div class="w-full text-center mt-4">
    <h1 class="relative text-[40px] font-Amoresa">Vid U</h1>
  </div>
</div>
