---
import Image from "astro/components/Image.astro";
import board from "./src/assets/findMyFlower/board.webp";
const { question } = Astro.props;
---

<div
  class="absolute w-[85%] left-1/2 top-1/2 flex -translate-x-1/2 -translate-y-1/2"
>
  <div class="relative flex h-full w-full font-Ribbon">
    <Image alt="board" src={board} class="object-fill w-full" />
    <div
      class="border-gray-200 absolute left-1/2 top-[14%] -translate-x-1/2 translate-y-1/2
      flex text-white w-[80%] h-[15%] justify-center
      text-xl items-center text-center text-pretty leading-tight"
    >
      {question}
    </div>
    <div
      class="border-gray-200 absolute left-1/2 top-[65%] -translate-x-1/2 -translate-y-1/2
      flex flex-col text-white w-[80%] h-[53%] justify-evenly
      text-xl items-center text-center text-pretty leading-tight"
    >
      <slot />
    </div>
  </div>
</div>
