---
import { Image } from "astro:assets";
---

<div>
  <h1 class="text-3xl text-center left-[35px] top-[555px]">Mini Games</h1>
  <!-- Ticket Game -->
  <div class="flex w-full">
    <div
      class="absolute top-[682px] left-[35px] text-2xl text-center text-[#454545] w-[207px]"
    >
      <h2>Customize</h2>
      <h2>My Ticket</h2>
    </div>
    <Image
      src="/images/customize.webp"
      width={95}
      height={127}
      alt="Customize My Ticket"
      class="absolute top-[619px] left-[252px] bg-gray-300 text-center"
    />
    <Image
      src="/images/belle.webp"
      width={117}
      height={137}
      alt="Belle"
      class="absolute top-[726px] left-[12px]"
    />
    <h2
      class="absolute top-[757px] left-[144px] text-xl text-center text-white bg-[#C55A5E] w-[207px] p-2"
    >
      Click to Create
    </h2>
  </div>
  <!-- Stamp game -->
  <div class="flex w-full">
    <div
      class="absolute top-[955px] left-[198px] text-2xl text-center text-[#454545] w-[172px]"
    >
      <h2>My Stamp</h2>
      <h2>Collection</h2>
    </div>
    <Image
      src="/images/stamp.webp"
      width={127}
      height={127}
      alt="Customize My Stamp"
      class="absolute top-[898px] left-[71px] bg-gray-300 text-center"
    />
    <h2
      class="absolute top-[1048px] left-[52px] text-xl text-center text-white bg-[#C55A5E] w-[218px] p-2"
    >
      Click to Collect
    </h2>
  </div>
  <!-- Flower game -->
  <div class="flex w-full">
    <div
      class="absolute top-[1255px] left-[87px] text-2xl text-center text-[#454545] w-[104px]"
    >
      <h2>Find My</h2>
      <h2>Flower</h2>
    </div>
    <Image
      src="/images/flower.webp"
      width={95}
      height={127}
      alt="Flower"
      class="absolute top-[1191px] left-[211px] bg-gray-300 text-center"
    />
    <h2
      class="absolute top-[1337px] left-[101px] text-xl text-center text-white bg-[#C55A5E] w-[191px] p-2"
    >
      Click to Play
    </h2>
  </div>
</div>
