---
import Image from "astro/components/Image.astro";
---

<!-- Navigation Bar -->
<nav
  class="flex items-center justify-evenly gap-8 p-3 bg-white shadow-lg w-full"
>
  <!-- Navigation Item -->
  <a href="/home" class="flex flex-col items-center">
    <Image
      src="/images/home/nav home.webp"
      width={50}
      height={50}
      alt="Home"
      title="Home"
    />
    <span class="mt-1 font-semibold text-black">Home</span>
  </a>
  <!-- Navigation Item -->
  <a href="/ticket" class="flex flex-col items-center">
    <Image
      src="/images/home/nav ticket.webp"
      width={50}
      height={50}
      alt="Home"
      title="Home"
    />
    <span class="mt-1 font-semibold text-black">Ticket</span>
  </a>
  <!-- Navigation Item -->
  <a href="/flower" class="flex flex-col items-center">
    <Image
      src="/images/home/flowernav_1.webp"
      width={50}
      height={50}
      alt="Home"
      title="Home"
    />
    <span class="mt-1 font-semibold text-black">Flower</span>
  </a>
</nav>
