---
import { Image } from "astro:assets";
---

<!-- Navigation Bar -->
<button
  id="navbar-toggle"
  class="top-0 mt-1 z-50 p-4"
  aria-label="Toggle Navigation"
  onclick="
    const navbar = document.getElementById('navbar');
    navbar.classList.toggle('hidden');
    const img = this.querySelector('img');
    img.src = navbar.classList.contains('hidden') ? '/images/navbar/menu.webp' : '/images/navbar/close.webp';
    this.classList.toggle('bg-black');
    this.classList.toggle('bg-opacity-20');
    this.classList.toggle('rounded-t-xl');
  "
>
  <Image src="/images/navbar/menu.webp" alt="Menu" width={24} height={24} />
</button>
<nav
  id="navbar"
  class="hidden items-center gap-4 bg-opacity-20 bg-black rounded-b-xl shadow-lg font-Yeseva"
>
  <!-- Home Button -->
  <a href="/" class="flex flex-col items-center py-2">
    <Image
      src="/images/navbar/nav-1.webp"
      width={44}
      height={44}
      alt="Home"
      title="Home"
      class:list={"shadow-md rounded-full"}
    />
    <span class="font-semibold text-xs text-black">Home</span>
  </a>

  <!-- Find My Flower Button -->
  <a
    href="/find-my-flower"
    onclick="alert('Coming soon!')"
    class="flex flex-col items-center py-2"
  >
    <Image
      src="/images/navbar/nav-3.webp"
      width={50}
      height={50}
      alt="Find My Flower"
      title="Find My Flower"
    />
    <span class="font-semibold text-xs text-black">Flower</span>
  </a>

  <!-- Ticket Button -->
  <a
    href="/login"
    onclick="alert('Coming soon!')"
    class="flex flex-col items-center py-2"
  >
    <Image
      src="/images/navbar/nav-2.webp"
      width={50}
      height={50}
      alt="Ticket"
      title="Ticket"
    />
    <span class="font-semibold text-xs text-black">Ticket</span>
  </a>
</nav>
