---

---

<!-- Navigation Bar -->
<nav
  class="flex items-center justify-evenly gap-8 p-3 bg-white shadow-lg w-full"
>
  <!-- Navigation Item -->
  <a href="/home" class="flex flex-col items-center">
    <div class="w-[50px] h-[50px] bg-gray-300 rounded-full"></div>
    <span class="mt-1 font-semibold text-black">Home</span>
  </a>
  <!-- Navigation Item -->
  <a href="/ticket" class="flex flex-col items-center">
    <div class="w-[50px] h-[50px] bg-gray-300 rounded-full"></div>
    <span class="mt-1 font-semibold text-black">Ticket</span>
  </a>
  <!-- Navigation Item -->
  <a href="/flower" class="flex flex-col items-center">
    <div class="w-[50px] h-[50px] bg-gray-300 rounded-full"></div>
    <span class="mt-1 font-semibold text-black">Flower</span>
  </a>
</nav>
