---
import { Example } from "./Example";

const wai = await fetch("http://localhost:4321/api/example");
const json = await wai.json();
console.info(json);
---

<div class="text-6xl">
  <h1>Welcome to Astro</h1>
  <p>Build faster websites with less client-side Javascript</p>
  <p>{json[0].stdentid}</p>
  <Example />
</div>
