---
import LoginButton from "./LoginButton";
import { Example } from "./Example";

const wai = await fetch(`${import.meta.env.BASE_URL}/api/example`);
const json = await wai.json();
console.info(json);
---

<div class="text-6xl">
  <LoginButton client:load />
  <h1>Welcome to Astro</h1>
  <p>Build faster websites with less client-side Javascript</p>
  <Example />
</div>
