---
import type { Fragment } from "react";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content="Astro" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />
    <title>Astro Basics</title>
  </head>
  <body>
    <main class="mobile">
      <slot />
    </main>
  </body>
</html>

<style>
  @font-face {
    font-family: "AtasaneeDEMO";
    src: url("/fonts/AtsaneeDEMO-Thin.otf") format("opentype");
  }

  @font-face {
    font-family: "RibbonDemo";
    src: url("/fonts/RibbonDemo-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "YesevaOne";
    src: url("/fonts/YesevaOne-Regular.ttf") format("truetype");
  }

  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

  .mobile {
    display: relative;
    max-width: 448px;
    margin: 0 auto;
    min-height: 100vh;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
