<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @font-face {
    font-family: "AtasaneeDEMO";
    src: url("/fonts/AtsaneeDEMO-Thin.otf") format("opentype");
  }

  @font-face {
    font-family: "RibbonDemo";
    src: url("/fonts/RibbonDemo-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "YesevaOne";
    src: url("/fonts/YesevaOne-Regular.ttf") format("truetype");
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
